@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.accordion {
  width: 100%;
  max-width: 800px;
  margin: 90px auto;
  padding: 45px 20px;
}
@media screen and (max-width: 800px) {
  .accordion {
    width: 90%;
    margin: 50px auto;
    padding: 30px 15px;
  }
}
@media screen and (max-width: 600px) {
  .accordion {
    width: 95%;
    padding: 20px 10px;
  }
}
.accordion__container {
  margin: 10px 10px;
  gap: 20%;
}
.accordion__container .label {
  font-size: 30px;
  position: relative;
  padding: 36px 0;
  font-size: 30px;
  color: black;
  cursor: pointer;
}
.accordion__container .label::before {
  content: "+";
  color: black;
  position: absolute;
  background-color: black;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  width: 4%;
  text-align: center;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}
.accordion.active .content {
  height: 100%;
}
.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

.accordion .content {
  position: relative;
  background: color3;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
}

.accordion__container.active .content {
  height: 100%;
  width: 36rem;
}
@media screen and (max-width: 610px) {
  .accordion__container.active .content {
    width: 17rem;
  }
}

.accordion__container.active .label::before {
  content: "-";
  font-size: 30px;
}

.label__index {
  color: #2469bc;
}

.content {
  width: -moz-max-content;
  width: max-content;
}
.content .box {
  display: flex;
  flex-direction: column;
  height: 20vh;
  border: 1px solid black;
  display: block !important;
  justify-content: space-around;
  padding: 7px;
}
.content .box__heading {
  color: #2469bc;
  font-weight: 700;
  font-size: 1.4rem;
}
@media screen and (max-width: 450px) {
  .content .box__heading {
    font-size: 20px;
  }
}
.content .box__link {
  color: grey;
}
@media screen and (max-width: 450px) {
  .content .box__link {
    font-size: 17px;
  }
}
@media (max-width: 600px) {
  .content .box {
    height: 30vh;
  }
}
@media (max-width: 590px) {
  .content .box {
    height: 17vh;
  }
}
@media (max-width: 450px) {
  .content .box {
    height: 15vh;
  }
}

.box-india {
  width: 22%;
}
@media screen and (max-width: 450px) {
  .box-india {
    width: 50%;
    height: 30%;
  }
}

.content-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 600px) {
  .content-two {
    grid-template-columns: repeat(2, 0.6fr);
  }
}

@media screen and (max-width: 600px) {
  .accordion {
    width: 80%;
  }
  .accordion .content {
    width: 100%;
  }
  .box {
    height: 19vh;
  }
}
@media screen and (max-width: 700px) {
  .accordion__container .label {
    font-size: 25px;
  }
  .accordion__container .label::before {
    font-size: 25px;
    right: -4px;
  }
}
@media screen and (max-width: 600px) {
  .accordion__container .label {
    font-size: 22px;
  }
  .accordion__container .label::before {
    font-size: 22px;
    right: -3px;
  }
}
@media screen and (max-width: 400px) {
  .accordion__container .label {
    font-size: 18px;
  }
  .accordion__container .label::before {
    font-size: 18px;
    right: -2px;
  }
}/*# sourceMappingURL=style.css.map */