@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import '_variables';

body {

  font-family: Arial, Helvetica, sans-serif ; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

 
h1 {
  text-align: center;
}


.accordion {
  width: 800px;
  margin: 90px auto;
  color: $color2;
  background-color: $color3;
  padding: 45px 45px;
  &__container{
    position: relative;
    margin: 10px 10px;
  }
  &.active .content {
    height: 100%;
  }
hr{
    width: 100;
    margin-left: 0;
    border: 1px solid $color4;
}

  
}



  
  
  .accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: $color2;
    cursor: pointer;
  }

  .accordion .label::before {
    content: '+';
    color: $color2;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
  }
  
  
  .accordion .content {
    position: relative;
    background: color3;
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 780px;
    overflow: hidden;
    
  }
  
  .accordion__container.active .content {
    height: 100%;
  }
  

  
 .accordion__container.active .label::before {
    content: '-';
    font-size: 30px;
  }
  
//   .accordion hr {
//     width: 100;
//     margin-left: 0;
//     border: 1px solid $color4;
//   }

  .label{
    &__index{
        color: $color1;
    }
  }


  .content{
    width: max-content;
    .box{
        display: flex;
        flex-direction: column;
        height:17vh;
        border: 1px solid $color2;
        justify-content: space-around;
        // width: 10vw;
        padding: 7px;
        &__heading{
            color: $color1;
            font-weight: 700;
            font-size:1.4rem;

        }
        &__link{
            color: color4;
        }
    }
  }



  .box-india{
    width: 22%;
  }
  .content-two{
    display: grid;
    grid-template-columns: repeat(3,1fr);

  }